:root {
  --color-primary: #00618A;
  --color-secondary: #009A70;
}

#home-main {
  width: 100vw;
  height: 96vh;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;

}

#welcome-section {
  height: 100%;
  width: 70%;

  border-right: 4px solid #a1a0a04f;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 200px;
    margin-bottom: 20px;
  }
}

#login-section {
  height: 100%;
  width: 30%;

  display: flex;
  align-items: center;
  justify-content: center;

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    label {
      margin-bottom: 5px;
      text-transform: uppercase;
      font-size: 14px;
      color: #555555;
    }

    input {
      width: 350px;
      padding: 10px;
      border: 1px solid #cccccc;
      border-radius: 4px;
      font-size: 14px;
    }

    input:focus {
      border-color: var(--color-primary);
      outline: none;
    }
  }

  .links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    a {
      color: var(--color-primary);
      text-decoration: none;
      font-size: 14px;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}