#redefinir-main {
    width: 100vw;
    height: 96vh;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;

        background-color: var(--color-primary);
        width: 350px;
        height: 38px;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
    }

    a:hover {
        background-color: #005577;
        cursor: pointer;
    }

}

#forgot-password-section {
    border: 1px solid #cccccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 40px;
}