:root {
  --color-primary: #00618A;
  --color-secondary: #009A70;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#register-main {
    width: 100vw;
    height: 100vh;
    
    background-color: #00618A;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-register {
    width: 400px;
    padding: 40px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 200px;
        margin-bottom: 20px;
    } 

    h1 {
        margin-bottom: 20px;
        color: var(--color-primary);
        font-size: 24px;}

    .links {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: right;
    
    a {
      color: #009A70;
      color: var(--color-primary);
      text-decoration: none;
      font-size: 14px;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
